<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="user-film">Add Film</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="user-scenario">Add Comments</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="auth/signup">Create account</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/signin">Connect</a>
      </li>
    </ul>
  </div>
</nav>