<div class="row">
    <div class="col-xs-12">
        <h2>Movies</h2>
        <div class="list-group">
            <button class="list-group-item" *ngFor="let film of films; let i = index" (click)="onViewFilm(i)">
                <h3 class="list-group-item-heading">
                    {{film.name}}
                </h3>
                <h5> {{film.synopsisShort}} </h5>
                <h5>Release date : {{film.date}}</h5>
                <h5>Realisateur : {{film.realisator}}</h5>
                <h5>Scénario : {{film.synopsisLong}}</h5>
                <h3>Commments : </h3>
            </button>
        </div>
    </div>
</div>